.dice4 circle{
    fill: yellow;
}

/* selecting the g tag */
.dice4 g{
    transition: all 4s;
    transform-origin: center center;
}

.dice4:hover g{
    transform: scale(.3)
}

/* smiley face */
.cls-1{
    fill:#ffe269;}

.cls-2{
    fill:#fff;}

.cls-3{
    fill:#fcf0c0;}

@keyframes move {
    0%
    100%{
        transform: translateX(0);
    }
    25%{
       transform: translateX(10px);
    }
    50%{
        transform: translateY(5px) translateX(10px);
    }
    75%{
        transform: translateY(-15px);
    }
}

.pupil{
    animation:move 3s infinite alternate ease-in-out;
}

.smiley:hover .pupil{
    animation-play-state: paused;
}